@model IEnumerable<DahiraAgency.Data.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>@category.Name</li>
    }
</ul>
